* {
	margin: 0;
	padding: 0;
}
body { 
	width: 100%;
	font: 14px Segoe UI; 
	color: #fff;
	background: #515f67;
}
a, p, span, h1, h2, header, footer {
	opacity: 0.85;
}
a:hover, a:focus, a:active, input:focus, textarea:focus, button:focus {
	outline: none;
	transition: all .3s;
} 
input[type="text"], 
input[type="email"] { 
	border: 2px solid #fff; 
	width: 445px;
	height: 54px; 
	color: #fff;
	line-height: 52px; 
	font: 14px Segoe UI; 
	padding: 0 10px;
	background: none;
}
textarea { 
	width: 1146px;
	height: 196px;
	border: 2px solid #fff; 
	color: #fff; 
	font: 14px Segoe UI; 
	overflow: auto; 
	resize: none; 
	background: none;
	padding: 13px 10px;
}
input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus,
button:active { 
	border: 2px solid #bdbcbd; 
	box-shadow: 0 0 5px #fff; 
	color: #fff;
}
label { 
	display: block;
	text-transform: uppercase; 
	font-weight: bold;
	line-height: 2;
}
button {
	width: 370px;
	height: 60px;
	background: #4bcaff;
	color: #fff;
	font: 14px Segoe UI;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}
h1, h2 { 
	text-transform: uppercase; 
	font-weight: 300; 
	display: inline-block;
}
h1 {
	font-size: 42px;
	background: #353f46;
	padding: 5px 15px;
	margin-bottom: 10px;
}
h2 {
	font-size: 30px; 
	margin-bottom: -10px;
	background: url(../img/deco-line.png) 0 100% no-repeat;
	padding-bottom: 5px;
}
#wrapper {
	width: 1900px;
	height: 100%;
	margin: 0 auto;
	background: url(../img/main_photo_bgr.png) no-repeat;
}
#content {
	
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.menu {
	display: inline-block;
	float: right;
}
.menu ul {
	list-style-type: none;
	text-align: right;	
}
.menu ul li {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
.menu ul li a {
	text-decoration: none;	
}
.menu ul li a.active, .menu ul li a:hover {
	border: 2px #4bcaff solid;
	color: #4bcaff;
	padding: 5px 20px;
	margin-right: -22px;
}
.menu ul li a:hover {
	margin-left: -22px;
}
/***************Header***************/
header {
	width: 1900px;
	height: 150px;
	background: #353f47;
}
.header-container {
	height: 150px;
}
.logo {
	width: 127px;
	height: 150px;
	display: inline-block;
	line-height: 165px;
}
.main-menu, .main-menu ul {
	width: 1042px;
	height: 150px;
}
.main-menu ul li {
	line-height: 150px;
	margin-right: 40px;
}
.main-menu ul li a {
	color: #fff;	
}
.main-menu ul li:last-child {
	margin-right: 0;
}
/***************Main***************/
#section-main {
	width: 1900px;
	height: 650px;
	text-align: center;
	position: relative;
}
.main-container {
	position: absolute;
	top: 38%;
	left: 48%;
	height: 30%;
	width: 54%;
	margin: 0 0 0 -25%;
}
/***************Services***************/
#section-services {
	width: 1900px;
	height: 100%;
	background: #4bcaff;
}
.services-container {
	padding: 70px 0 80px 0;
}
.services-head {
	padding-bottom: 50px;
}
.services-content {
	width: 1170px;
	height: 100%;
}
.services-content ul li {
	margin-right: 23px;
	display: inline-block;
}
.services-content ul li a {
	width: 270px;
	height: 176px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.services-content ul li a img {
	height: 48px;
}
.services-content ul li a:hover {
	text-decoration: underline;
}
.services-content ul li a p {
	margin-top: 8px;
	text-transform: uppercase;
}
.services-content ul li a span {
	font-size: 12px;
	display: block;
	margin-top: 10px;
	line-height: 1.5;
}
.services-content ul li:last-child {
	margin-right: 0;
}
/***************Portfolio***************/
#section-portfolio {
	width: 1900px;
	height: 100%;
	background: #fff;
	color: #515f67;
}
.portfolio-container {
	padding: 70px 0 54px 0;
}
.portfolio-head {
	padding-bottom: 75px;
}
.portfolio-head h2 {
	background: url(../img/deco-line-grey.png) 0 100% no-repeat;
}
.portfolio-menu, .portfolio-menu ul {
	width: 1015px;
}
.portfolio-menu ul li {
	line-height: 55px;
	margin-right: 40px;
}
.portfolio-menu ul li a {
	color: #515f67;	
}
.portfolio-content {
	width: 1180px;
	height: 100%;
}
.portfolio-content a {
	width: 270px;
	height: 270px;
	display: inline-block;
	margin: 0 26px 26px 0;
}
.portfolio-content a:hover {
	background: url(../img/hover-photo.png);
}
.portfolio-menu ul li:last-child, .portfolio-content a:last-child {
	margin-right: 0; 
}
/***************Just-default-section***************/
#section-just {
	width: 1900px;
	height: 100%;
}
.just-container {
	padding: 70px 0 75px 0;
}
.just-head {
	padding-bottom: 45px;
}
.just-content {
	width: 1170px;
	height: 100%;
	position: relative;
}
.just-text {
	display: inline-block;
}
.just-text p {
	width: 470px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	line-height: 1.75;
	margin-bottom: 52px;
	display: block;
}
.just-text a {
	font-size: 14px;
	font-weight: bold;
	padding: 13px 40px;
	color: #353f46;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px #353f46 solid;
}
.just-text a:hover {
	border: 2px #4bcaff solid;
	color: #4bcaff;
}
.just-video video {
	width: 560px;
	height: 313px;
	position: absolute;
	top: -70px;
	right: 0;
}
/***************Twitter***************/
#section-twitter {
	width: 1900px;
	height: 100%;
	background: #4BCAFF;
}
.twitter-container {
	padding: 70px 0 75px 0;
}
.twitter-head {
	width: 1170px;
	padding-bottom: 45px;
	opacity: 0.85;
}
.twitter-head a {
	width: 28px;
	height: 22px;
	float: right;
	margin-top: 10px;
}
.twitter-content {
	width: 1170px;
	height: 100%;
	display: inline-block;
	margin-top: -15px;
}
.twitter-content span {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.79;
}
.twitter-content a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.twitter-content a:hover {
	text-decoration: underline;
}
/***************Who is john doe?***************/
#section-who {
	width: 1900px;
	height: 100%;
	background: url(../img/john-doe-photo-bgr.png) no-repeat center;
}
.who-container {
	padding: 70px 0 75px 0;
}
.who-head {
	width: 1170px;
	padding-bottom: 45px;
	opacity: 0.85;
}
.who-content p {
	width: 565px;
	height: 100%;
	font-size: 14px;
	line-height: 1.71;
	margin: 0 12px 30px 0;
	display: inline-block;
}
.who-content {
	width: 1170px;
	height: 100%;
	display: inline-block;
	position: relative;
}
.who-content .social {
	width: 570px;
	display: inline-block;
	position: absolute;
	right: 18px;
	bottom: 26px;
}
.who-content .social a {
	width: 64px;
	height: 64px;
	margin-right: 20px;
}
.who-content .social img {
	width: 28px;
	height: 28px;
	border: 2px #fff solid;
	padding: 15px;
}
.who-content .social img:hover {
	border: 2px solid #4bcaff; 
}
/***************Testimonials***************/
#section-testimonials {
	width: 1900px;
	height: 100%;
	background: #fff;
	color: #515f67;
}
.testimonials-container {
	padding: 70px 0 75px 0;
}
.testimonials-head {
	width: 1170px;
	padding-bottom: 45px;
	opacity: 0.85;
}
.testimonials-head img {
	width: 32px;
	height: 26px;
	float: right;
	margin-top: 10px;
}
.testimonials-head h2 {
	background: url(../img/deco-line-grey.png) 0 100% no-repeat;
}
.testimonials-content {
	width: 1170px;
	height: 100%;
	display: inline-block;
	margin-top: -15px;
}
.testimonials-content p {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.79;
}
.testimonials-content span {
	color: #4bcaff;
	font-weight: bold;
	display: block;
	margin-top: 25px;
}
.testimonials-content a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.testimonials-content a:hover {
	text-decoration: underline;
}
/***************Contact***************/
#section-contact {
	width: 1900px;
	height: 814px;
	background: url(../img/contact-photo-bgr.png) no-repeat;
}
.contact-container {
	padding: 70px 0 75px 0;
}
.contact-head {
	width: 1170px;
	padding-bottom: 45px;
	opacity: 0.85;
}
.contact-content {
	width: 1170px;
	height: 100%;
	display: inline-block;
	position: relative;
}
.contact-content form div {
	margin-bottom: 40px;
}
.contact-text {
	width: 531px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 23px;
	font-weight: 600;
}
.contact-text p {
	width: 531px;
	height: 100%;
	font-size: 14px;
	line-height: 1.71;
	margin: 0 12px 30px 0;
	display: inline-block;
}
.contact-text span {
	display: block;
	line-height: 1.72;
}

/***************Footer***************/
footer {
	width: 1900px;
	height: 170px;
	background: #353f47;
	color: #515f67;
	font-size: 12px;
	font-weight: 600;
}
.footer-container {
	height: 170px;
}
.footer-container span {
	float: right;
	line-height: 170px;
}
.footer-menu {
	width: 1042px;
	height: 170px;
	float: left;
}
.footer-menu ul {
	text-align: left;
	line-height: 170px;	
}
.footer-menu ul li {
	margin-left: -4px;
}
.footer-menu ul li a {
	color: #515f67;	
	font-weight: 600;
	border-right: 2px #515f67 solid;
	padding: 0 20px;
}
.footer-menu ul li a:hover {
	padding: 5px 20px;
	margin-right: 0;
}
.footer-menu ul li a:hover {
	margin-left: -2px;
}
.footer-menu ul li a[href="#section-contact"]:nth-child(1) {
	border-right: none;
}
.footer-menu ul li a[href="#section-contact"]:nth-child(1):hover {
	border-right: 2px #4bcaff solid;
}